/*Core styles*/
.body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.to-upper {
   text-transform: uppercase; 
}

.clearfix {
    clear: both;
}

.button {
    border: none;
    background-color: #1c44e4;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
}

/*Main header styles*/
.main-header__logo {
    display: inline-block;
    vertical-align: middle;
}

.main-header__logo img {
    width: 100px;
}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
}

.main-navigation__item {
    display: inline-block;
    padding: 5px;
}

.main-navigation__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.main-navigation__item a:hover {
    color: #efb6df
}

.main-navigation__item.active a {
    color: #efb6df;
} 

.blur-line {
    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background-color: rgba(237,35,159,0.6);
    filter: blur(4px);
    border-radius: 4px;
}

.section-subtitle {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}

.section-title {
    margin-top: 7px;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364D;
}

/*Main section styles*/
.main-section {
    padding: 20px 20px;
}

.main-section > div {
    width: 50%;
    float: left;
}

.main-section__image {
    text-align: right;
}

.main-section__image img{
    height: 600px;
    width: 550px;    
}

.main-section__welcome {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 12px;
    color: #797979;
}

.main-section__introduction {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05364E;
}

.main-section__position {
    color: #05364E;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;    
}

.main-section__social-network {
    color: #8FA1AA;
    font-size: 20px;
    margin-right: 25px;
    cursor: pointer;
}

.main-section__social-network a {
    margin-right: 15px;
}

.main-section__social-network a:hover i {
    color: #1c44e4;
}

.main-section__button {
    margin-top: 30px;
    border: none;
    background-color: #1c44e4;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
}

/*Statistics*/
.statistics {
    padding: 100px;    
}

.statistics__item {
    width: 150px;
    display: inline-block;
    background-color: #F8FAFF;
    text-align: center;
    padding: 5px 10px;
    margin-right: 20px;
}

.statistics-number {
    font-size: 27px;
    margin-bottom: 5px;
    color: #1C44E4;
}

.statistics-title {
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}

/* About me section*/
.about-me {
    padding: 100px 0;    
}

.about-me > div {
    width: 50%;
    float: left;
}

.about-me__image img {
    width: 90%;    
}

.about-me__description {
    font-size: 25px;
    font-weight: 300;
    color: #797979;
    line-height: 27px;
}

.about-me__action {
    margin-top: 40px;
}

/*Services section*/
.services {
    padding-top: 8%;    
}

.service-card {
    display: inline-block;
    width: 30%;
    padding: 50px 20px;
    background-color:  #F8FAFF;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
}

.service-card img {
    width: 100px;
    height: 100px;    
}

.service-card__title {
    color: #05364D;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.service-card__dickription {
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    color: #797979;
}

.service-card__link {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #05364D;
    text-decoration: none;
}

.service-card:hover {
    background-color: #5f30ff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__dickription,
.service-card:hover .service-card__link {
    color: white;
} 


